/target/
/work/
/.svn/
/.sonar/
/.settings/
/.metadata/

/sonar-project.properties
/.classpath
/.project
/src/.sonar/
/src/sonar-project.properties
/pom.xml.releaseBackup
/release.properties